[submodule "./.vim/bundle/Dockerfile.vim/"]
	path = ./.vim/bundle/Dockerfile.vim/
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "./.vim/bundle/vim-signature.vim"]
	path = ./.vim/bundle/vim-signature.vim
	url = https://github.com/kshenoy/vim-signature.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
